<p class="text-center"><button class="fight" ng-click="fightMonster()" ng-disabled="!isMonsterHere()" ng-cloak ng-show="isMonsterHere()">Fight!</button></p>
<div class="overlay" ng-show="isFighting()">
</div>

<aside class="fightWindow" ng-show="isFighting()">
	<div class="arena" ng-class="{'incorrect': isIncorrect()}" >

		<div class="playerHP"><strong>Bee the Monster:</strong> {{getPlayerHP()}} HP<div class="timer" ng-show="playingGame()"><strong>Time Until Recharge</strong> {{timer}} Seconds</div></div>
		<div class="monsterHP"><strong>Player Character:</strong> {{monsterHP}} HP</div>
		<div  class="bee" ng-show="getPlayerHP() > 0"></div>
		<div  class="pc" ng-show="monsterHP > 0"></div>
	</div>
	<form name="mathGameForm" ng-submit="checkAnswer()">

		<p ng-show="playingGame()" class="text-center">
			<label for="answer">{{variables.x}} {{symbol}} {{variables.y}}</label>
			<input type="text" id="answer" ng-model="answer" placeholder="Answer" />
		</p>

	</form>
	<p ng-show="noGame()" class="text-center" >Use your Mathmatical Spells to defeat the PC!</p>
	<p ng-show="noGame()" class="text-center" >Your spells will need to recharge after 35 seconds, leaving you defenseless, so beat the PC quickly!</p>

	<h1 ng-show="endGame() && !isPlayerWin() && !isPlayerLoss()" class="text-center" >Time is up!</h1>
	<h1 ng-show="endGame() && isPlayerWin() && !isPlayerLoss()" class="text-center" >PC Defeated!</h1>
	<p class="text-center" ng-show="noGame()">
		<button type="button" ng-click="startGame()">Begin Fight</button>
	</p>
	<p class="text-center"  ng-show="endGame() && !isPlayerWin() && !isPlayerLoss()">
		<button type="button" ng-click="recharge()">Recharge (-3 HP)</button>
	</p>
	<p class="text-center" ng-show="endGame() && isPlayerWin() && !isPlayerLoss()">
		<button class="fight" ng-click="endFight()">Back to the Dungeon</button>
	</p>

</aside>
