<div class="map">
	<div class="row" ng-repeat="y in getYCount()">
		<div class="room{{getWidth()}}" ng-repeat="x in getXCount()">
			<div class="player" ng-cloak ng-show="isPlayerHere(x,y)"></div>
			<div class="north" ng-cloak ng-show="getNorth(x,y)"></div>
			<div class="south" ng-cloak ng-show="getSouth(x,y)"></div>
			<div class="west" ng-cloak ng-show="getWest(x,y)"></div>
			<div class="east" ng-cloak ng-show="getEast(x,y)"></div>
			<div class="fog" ng-cloak ng-show="isFog(x,y)"></div>
			<div class="monster" ng-cloak ng-show="isMonster(x,y)">M</div>
			<div class="kitten" ng-cloak ng-show="isKitten(x,y)">K</div>
			</div>
	</div>
<div>
